@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;600;700&display=swap');
/*Fomatação globais das CSS*/
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
    
}

p{
    text-align: justify;
    font-style: italic;

}

body{
    background-image:linear-gradient( to right,#DAC793,#BFB088);

}

main{
    background-color:#ffffff;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #40361a83;
    width: 550px;
    padding: 15px;
    margin: auto;

}

h1{
    color: #403B2D;
    text-align: center;
    text-shadow: 2px 1.5px 2px #332f24be;
    font-family: 'Dancing Script', cursive;
    font-size: 2.7em;

}

h2{
    font-family: 'Edu QLD Beginner', cursive;
    font-size: 1.5em;
    color: #8C8164

}